/* .search-dropdown {
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 100%;
    border: 1px solid #d8dde6;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f3f3f3;
} */